<div class="pane" id="editor-pane">
  <header>
    <h1 class="pane-title">Editor</h1>
  </header>
  <main>
    {{ace-editor theme="github" mode="javascript"}}
  </main>
</div>
<div class="pane" id="viewer-pane">
  <header>
    <h1 class="pane-title">Viewer</h1>
  </header>
  <main>
    {{outlet "viewer"}}
  </main>
</div>
